/******** BASE **********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image: url(https://wallpapers.com/images/high/microsoft-teams-study-room-virtual-background-zwz72nuegwf4mlmz.webp);

}

h1 {
    font-weight: 700;
    font-size: 4rem;
    color: darkred;
    text-align: center;
}